<!DOCTYPE HTML>
<html>
	<head>
		<link href="./static/assets/favicon.ico" rel="icon">
		<title>Our Famous Dip</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/recipe.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<section id="header" class="alt">
						<header>
							<h1><a href="index.html">Our Famous Dip</a></h1>
							<p>By Kick It Up</p>
						</header>
					</section>

				<!-- One -->
				<section class="main style1">
						<section>
							<a href="#" class="image fit"><img src="./static/images/dip.jpg" alt="" /></a>
						</section>
						<section>
							<h3>Ingredients</h3>
							<p>1 (16-oz-can) refried beans</p>
							<p>1 (8-oz) sour cream</p>
                            <p>1 block of cream cheese, softened</p>
                            <p>1 packet of taco seasoning</p>
							<p>1 (8 oz) guacamole (mild)</p>
							<p>Kick it Up Salsa</p>
							<p>1 cup Mexican blend cheese</p>
							<p>Bundle of green onions, chopped</p>
                            <p>1 (6-oz-can) black olives, chopped</p>
						</section>
					</section>
					<section class="main">
						<header class="major">
							<p>Cooking Instructions</p>
						</header>
						<p>1) Mix Kick It Up Blend with Tomatoes of your choice. Follow instructions on back of bag.</p>
						<p>2) After the mix is hydrated in the tomatoes layer ingredients in a 9 inch pan in the following order:
                        refried beans, creams cheese mixed with taco seasoning, guacamole, sour cream, Kick It Up Salsa, and cheese. </p>
						<p>3) Top with black olives and green onions</p>
						<p>4) Refrigerate for 30 minutes or until desired coldness</p>
                        <p>5) Enjoy with tortilla chips or fritos!</p>
						<br><br>
						<p><b>Substitutions for black olives and green onions</b></p>
						<p>Shredded Lettuce</p>
						<p>Chopped Tomatoes</p>
						<p>Chopped yellow onion</p>
						<br><br><br>
						<ul class="actions special">
								<li><a href="recipes.html" class="button">Return to Recipes</a></li>
							</ul>
					</section>

			</div>

		<!-- Copyright -->
			<div id="copyright">
				Kick It Up Salsa. All rights reserved.
			</div>

		<!-- Scripts -->
			<script src="./static/assets/recipe-js/jquery.min.js"></script>
			<script src="./static/assets/recipe-js/browser.min.js"></script>
			<script src="./static/assets/recipe-js/breakpoints.min.js"></script>
			<script src="./static/assets/recipe-js/util.js"></script>
			<script src="./static/assets/recipe-js/main.js"></script>

	</body>
</html>