<!DOCTYPE HTML>
<html>
	<head>
		<link href="./static/assets/favicon.ico" rel="icon">
		<title>Campfire Chili</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/recipe.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<section id="header" class="alt">
						<header>
							<h1><a href="index.html">Campfire Chili</a></h1>
							<p>By Kick It Up</p>
						</header>
					</section>

				<!-- One -->
				<section class="main style1">
						<section>
							<a href="#" class="image fit"><img src="./static/images/chile.jpg" alt="" /></a>
						</section>
						<section>
							<h3>Ingredients</h3>
							<p>1.5 lbs cooked ground chuck</p>
							<p>2 can kidney beans</p>
							<p>2 cans black beans</p>
							<p>1 can rotel</p>
							<p>3 scoops Kick It Up Salsa Blend</p>
							<p>Tomato juice</p>
						</section>
					</section>
					<section class="main">
						<header class="major">
							<p>Cooking Instructions</p>
						</header>
						<p>1) Cook ground chuck in pan for 10 minutes or until brown</p>
						<p>2) Mix together beans, rotel, and ground chuck in crock pot</p>
						<p>3) Pour tomato juice in mix until desired consitency is achieved</p>
						<p>4) Cook on low for 8 hours adding salsa blend during the last 15 minutes of cook time</p>
						<br><br>
						<p><b>Pairs great with Kick It Up Corn Bread</b></p>
						<p>Prepare 1 box of Jiffy Mix according to box directions</p>
						<p>Add 3/4 scoop of blend and 1/2 cup of grated cheese of your choice</p>
						<p>Bake as directed</p>
						<br><br><br>
						<ul class="actions special">
								<li><a href="recipes.html" class="button">Return to Recipes</a></li>
							</ul>
					</section>

			</div>

		<!-- Copyright -->
			<div id="copyright">
				Kick It Up Salsa. All rights reserved
			</div>

		<!-- Scripts -->
			<script src="./static/assets/recipe-js/jquery.min.js"></script>
			<script src="./static/assets/recipe-js/browser.min.js"></script>
			<script src="./static/assets/recipe-js/breakpoints.min.js"></script>
			<script src="./static/assets/recipe-js/util.js"></script>
			<script src="./static/assets/recipe-js/main.js"></script>

	</body>
</html>