<!DOCTYPE HTML>
<html>
	<head>
		<link href="./static/assets/favicon.ico" rel="icon">
		<title>Campfire Chili</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/recipe.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<section id="header" class="alt">
						<header>
                            <p>Recipes by</p>
							<h1><a href="index.html">Kick It Up</a></h1>
						</header>
					</section>

					<section class="main">
						<a href="#" class="image fit"><img src="./static/images/recipes.jpg" alt="" /></a>
                        <br><br>
						<ul class="actions special">
								<li><a href="recipes.html" class="button">Return to Recipes</a></li>
							</ul>
					</section>

			</div>

		<!-- Copyright -->
			<div id="copyright">
				Kick It Up Salsa. All rights reserved
			</div>

		<!-- Scripts -->
			<script src="./static/assets/recipe-js/jquery.min.js"></script>
			<script src="./static/assets/recipe-js/browser.min.js"></script>
			<script src="./static/assets/recipe-js/breakpoints.min.js"></script>
			<script src="./static/assets/recipe-js/util.js"></script>
			<script src="./static/assets/recipe-js/main.js"></script>

	</body>
</html>