<!DOCTYPE HTML>
<!--
	Axiom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<link href="./static/assets/favicon.ico" rel="icon">
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/recipes.css" />
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a href="about.html">About Us</a></li>
                                    <li class="current_page_item"><a href="recipes.html">Recipes</a></li>
									<li><a href="right-sidebar.html">Buy Now</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main" class="container">
                    <div class="row">
                        <section class="col-6 col-12-narrower">
                           <article id="content">
								<header>
                                    <a href="chile.html" class="image"><img src="./static/images/chile.jpg" alt=""></a>
									<h2><a href="chile.html">Campfire Chile</u></h2>
								</header>

							</article>

                        </section>
						<section class="col-6 col-12-narrower">
							<article id="content">
								<header>
                                    <a href="#" class="image"><img src="./static/images/table.jpg" alt=""></a>
									<h2><u><a href="#">Master Recipe List</a></u></h2>
								</header>

							</article>
                        </section>

					</div>

				</div>



			<!-- Newsletter -->

			<!-- Footer -->
				<div id="footer" class="container">

					<div class="row">
						<div class="col-6 col-12-narrower">
							<span class="copyright">&copy; Untitled. All rights reserved.</span>
						</div>
						<div class="col-6 col-12-narrower">
							<ul class="icons">
								<li><a href="#" class="icon brands fa-facebook-f"><span>Facebook</span></a></li>
							</ul>
						</div>
					</div>

				</div>

		</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.dropotron.min.js"></script>
			<script src="./static/assets/js/jquery.slidertron.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>