<!DOCTYPE HTML>
<html>
	<head>
		<link href="./static/assets/favicon.ico" rel="icon">
		<title>Recipes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/recipe-page.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<section id="header" class="alt">
						<header>
							<p>Recipes by</p>
							<h1><a href="index.html">Kick It Up</a></h1>
						</header>
						<nav id="nav">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="https://www.facebook.com/commerce/products/3464276780310541/?rid=100529268085030&rt=9&referral_code=page_cta&ref=page_shop_tab">Buy Now</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="https://www.facebook.com/kickitupsalsa">Like us on Facebook</a></li>
							</ul>
						</nav>
					</section>

				<!-- Two -->
					<section class="main style1">
						<section>
							<h3>Master Recipe List</h3>
							<p>Your go to recipes all on one page! This is our fan favorite recipe page that we provide
							with every bag of salsa blend.</p>
							<ul class="actions special">
								<li><a href="./static/images/recipes.jpg" download class="button">Download</a></li>
							</ul>
							<ul class="actions special">
								<li><a href="master-recipe.html" class="button">Online View</a></li>
							</ul>
						</section>
						<section>
							<h3>Campfire Chili</h3>
							<p>Get ready to warm up for the winter with our spicy Campfire Chili! This dish has a
							Southern style flavor with just enough kick to make you feel like cozying up by a campfire.</p>
							<ul class="actions special">
								<li><a href="campfire-chili.html" class="button">See Recipe</a></li>
							</ul>
						</section>
						<section>
							<h3>Kickin' Pork and Potato Casserole</h3>
							<p>A quick and easy casserole recipe that is sure to become a family favorite.</p>
							<ul class="actions special">
								<li><a href="porkchops.html" class="button">See Recipe</a></li>
							</ul>
						</section>
						<section>
							<h3>Kick It Up's Famous Dip</h3>
							<p>Become the life of any party by bringing the southern flavor of Kick It Up with this appetizer!</p>
							<ul class="actions special">
								<li><a href="7layers.html" class="button">See Recipe</a></li>
							</ul>
						</section>
					</section>

				<!-- Footer -->
					<section id="footer">
					</section>

			</div>

		<!-- Copyright -->
			<div id="copyright">
				Kick It Up Salsa. All rights reserved
			</div>

		<!-- Scripts -->
			<script src="./static/assets/recipe-js/jquery.min.js"></script>
			<script src="./static/assets/recipe-js/browser.min.js"></script>
			<script src="./static/assets/recipe-js/breakpoints.min.js"></script>
			<script src="./static/assets/recipe-js/util.js"></script>
			<script src="./static/assets/recipe-js/main.js"></script>

	</body>
</html>